:root {
  --primary-text-color: #434455;
  --secondary-color: #2e2f42;
  --brand-color: #4d5ae5;
  --pressed-color: #404bbf;
  --background-color: #fff;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--primary-text-color);
}
